{% extends "base.html.twig" %}

{% block title %}AppBundle:Words:translate{% endblock %}

{% block body %}
    <p>{% trans %}Переводы слова{% endtrans %}: <b>{{ words.translate('ru').word }}</b></p>


    {% if app.user %}

        {{ form_start(form) }}
        <p>
            {{ form_label(form.enWord) }}
            {{ form_widget(form.enWord, {'attr':{'value': words.translate('en',false).word}}) }}
        </p>
        <p>
            {{ form_label(form.frWord) }}
            {{ form_widget(form.frWord, {'attr':{'value': words.translate('fr',false).word}}) }}
        </p>
        <p>
            {{ form_label(form.spWord) }}
            {{ form_widget(form.spWord, {'attr':{'value': words.translate('sp',false).word}}) }}
        </p>
        <p>
            {{ form_label(form.grWord) }}
            {{ form_widget(form.grWord, {'attr':{'value': words.translate('gr',false).word}}) }}
        </p>
        <p>
            {{ form_label(form.itWord) }}
            {{ form_widget(form.itWord, {'attr':{'value': words.translate('it',false).word}}) }}
        </p>
        <p>
            {{ form_end(form) }}
        </p>
        {% else %}
        <p>{% trans %}перевод на английсский{% endtrans %}: {{ words.translate('en', false).word }}</p>
        <p>{% trans %}перевод на французский{% endtrans %}:{{ words.translate('fr', false).word }}</p>
        <p>{% trans %}перевод на испанский{% endtrans %}:{{ words.translate('sp', false).word }}</p>
        <p>{% trans %}перевод на греческий{% endtrans %}:{{ words.translate('gr', false).word }}</p>
        <p>{% trans %}перевод на итальянский{% endtrans %}:{{ words.translate('it', false).word }}</p>
    {% endif %}

{% endblock %}
